/* Define color variables */
:root {
  --primary-color: #96ceb4;
  --secondary-color: #ffeead;
  --accent-color: #d9534f;
  --highlight-color: #ffad60;
  --text-color: #fff;
}

/* Body and general styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #eee;
  color: var(--text-color);
  max-width: 1200px;
  margin: 0 auto;
}

/* Header styles */
.header {
  background-color: var(--accent-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  padding: 30px;
}

.header--img {
  height: 100%;
  width: auto;
  max-height: 60px;
  margin-right: 35px;
}

.header--title {
  font-size: 4.5rem;
  margin-right: auto;
}

.header--subtitle {
  font-size: 2.8rem;
  font-weight: 500;
}

/* Form styles */
.form {
  display: grid;
  grid-template-rows: 40px 40px;
  grid-template-columns: 1fr 1fr;
  gap: 17px;
  padding: 30px;
}

.form--input {
  padding: 10px;
  font-size: 1.6rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form--button {
  grid-column: 1 / -1;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 10px 20px;
  font-size: 1.6rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  /* Add a hover effect */
  &:hover {
    background-color: var(--highlight-color);
  }
}

/* Media Queries for different screen sizes */

/* Laptop */
@media screen and (max-width: 1200px) {
  body {
    max-width: 992px;
  }
  .header {
    padding: 30px;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  body {
    max-width: 768px;
  }
  .header {
    padding: 30px;
  }
  .header--title {
    font-size: 3.157rem;
  }
  .header--subtitle {
    font-size: 1.777rem;
  }
}

/* Smartphone */
@media screen and (max-width: 480px) {
  body {
    max-width: 480px;
  }
  .header {
    padding: 30px;
  }
  .header--title {
    font-size: 2rem;
  }
  .header--subtitle {
    font-size: 1rem;
  }
}
